body {
    height: 100vh;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

p {
    margin: 0;
    font-weight: lighter;
}

header {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr 1fr 3fr;
    border: 10px solid #beb873;
    background-color: #faf7d9;
}

.number_flags,
.number_bombs {
    align-self: center;
    font-weight: lighter;
}

button {
    background-color: rgb(221, 245, 175);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff9bd;
    border: 10px solid #f3eda5;
}

.square-clicked {
    background-color: #f5f3eb;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9bd;
    box-sizing: border-box;
}

.x1 {
    display: flex;
    color: blue;
    justify-content: center;
    align-items: center;
}

.x2 {
    display: flex;
    color: rgb(90, 146, 6);
    justify-content: center;
    align-items: center;
}

.x3 {
    display: flex;
    color: #bb41d3;
    justify-content: center;
    align-items: center;
}

.x4 {
    display: flex;
    color: navy;
    justify-content: center;
    align-items: center;
}

.x5 {
    display: flex;
    color: red;
    justify-content: center;
    align-items: center;
}

.x6 {
    display: flex;
    color: teal;
    justify-content: center;
    align-items: center;
}

.x7 {
    display: flex;
    color: brown;
    justify-content: center;
    align-items: center;
}

.x8 {
    display: flex;
    color: gray;
    justify-content: center;
    align-items: center;
}

.x9 {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}