* {
    box-sizing: border-box;
}

:root {
    --buttongraylight: rgb(165, 165, 165);
    --buttongray: rgb(52, 52, 52);
    --buttonorange: rgb(255, 159, 10);
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 300px;
    height: 500px;
    background-color: #000;
    display: grid;
    grid-template-rows: 180px repeat(5, 45px);
    align-self: center;
    border-radius: 15px;
}

.calc_display {
    width: 11.875rem;
    height: 80px;
    color: #fff;
    font-size: 3.25rem;
    justify-self: center;
    align-self: end;
    text-align: right;
}

.calc_keys {
    display: grid;
    grid-template-columns: repeat(4, 45px);
    gap: 9px 9px;
    justify-self: center;
}

button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
}

.gray_light {
    color: #000;
    background-color: var(--buttongraylight);
    transition-property: all;
    transition-duration: .5s;
}

.gray_light:hover {
    background-color: white;
    opacity: .9;
}

.gray_light:active {
    background-color: var(--buttongraylight);
}


.gray,
.gray_width {
    background-color: var(--buttongray);
    transition-property: all;
    transition-duration: .5s;
}

.gray:hover,
.gray_width:hover {
    background-color: var(--buttongraylight);
}

.gray:active,
.gray_width:active {
    background-color: var(--buttongray);
}


.orange {
    background-color: var(--buttonorange);
    transition-property: all;
    transition-duration: .5s;
}


.orange:hover {
    background-color: rgba(255, 159, 10, .8);
}


.orange:active {
    background-color: white;
    color: var(--buttonorange);
    transition-duration: .1s;
}

.gray_width {
    width: 100px;
    border-radius: 50px;
    grid-column: 1/3;
}


[data-state='selected'] {
    background-color: #fff;
    color: var(--buttonorange);
}